@font-face {
  font-family: "Nexa-Bold";
  src: url("/fonts/nexa_bold-webfont.woff");
}

@font-face {
  font-family: "Nexa-Light";
  src: url("/fonts/nexa_light-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.page_container {
  overflow: hidden;
}

.page_container h6 {
  font-weight: lighter;
  font-family: "Nexa-Light";
}

.bottom_layer_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 50;
}

.bottom_layer_container .image_switcher {
  height: 300px;
  width: 100%;
}

.bottom_layer_container img {
  height: 100%;
  width: 100%;
}

.top_layer_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 53;
}

.top_layer_container .nav_controller {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 60;
  font-family: "Nexa-Bold";
}

.top_layer_container .nav_controller .nav_container {
  margin: 10px 5px;
  padding: 5px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  border-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_layer_container .nav_controller .nav_container .logo_container {
  height: 30px;
  width: 30px;
  margin-left: 25px;
  margin-right: 5px;
  background-color: black;
}

.top_layer_container .nav_controller .nav_container .logo_container img {
  height: 100%;
  width: 100%;
}

.top_layer_container .nav_controller .nav_container .navigation_container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-weight: lighter;
}

.top_layer_container .nav_controller .nav_container .navigation_container .nav_item {
  margin-left: 10px;
  display: flex;
}

.top_layer_container .nav_controller .nav_container .navigation_container .nav_item .nav_item_icon {
  height: 30px;
  width: 30px;
}

.top_layer_container .nav_controller .nav_container .search_container {
  height: 30px;
  margin: auto 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F8A725;
}

.top_layer_container .nav_controller .nav_container .search_container .search_input_container {
  padding-left: 15px;
  transition: display 2s ease-in-out 0.5s;
}

.top_layer_container .nav_controller .nav_container .search_container .search_input_container input:focus {
  outline: none;
}

.top_layer_container .nav_controller .nav_container .search_container .search_input_container input {
  border: none;
  background-color: transparent;
}

.top_layer_container .nav_controller .nav_container .search_container .image_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.top_layer_container .nav_controller .nav_container .search_container .image_button_container .image_button {
  height: 20px;
  width: 20px;
  padding: 2px;
}

.top_layer_container .card_holder {
  width: 100%;
  z-index: 61;
  padding: 10px;
  margin: 0px auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}

.top_layer_container .card_holder .card {
  height: 200px;
  width: 400px;
  display: grid;
  grid-template-rows: 45% auto 10% auto;
  border-radius: 10px;
  box-shadow: 5px 5px #686b6a52;
  padding: 10px;
  margin: 0px 10px;
  background-color: white;
  text-align: center;
}

.top_layer_container .card_holder .card .card_image_holder {
  width: 50%;
  margin: 0px auto;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
}

.top_layer_container .card_holder .card .card_image_holder img {
  height: 100%;
  width: 100%;
}

.top_layer_container .card_holder .card .sub_title_container {
  display: grid;
  grid-template-rows: 50% 50%;
}

.top_layer_container .footer {
  display: grid;
  grid-template-rows: auto auto auto auto;
  height: 150px;
  z-index: 61;
  font-weight: lighter;
  color: white;
  margin: 5px 10px;
}

.top_layer_container .footer h6 {
  font-weight: lighter;
}

.top_layer_container .footer .fotter_main_details_container {
  display: grid;
  grid-template-columns: 60% auto 40%;
}

.top_layer_container .footer .fotter_main_details_container .footer_nibm_info .footer_nibm_image {
  width: 100px;
  height: 20px;
}

.top_layer_container .footer .fotter_main_details_container .branch_details h6 {
  text-align: end;
}

.top_layer_container .footer .footer_contact_details_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.top_layer_container .footer .footer_copyright_container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.top_layer_container .footer .footer_copyright_container .social_media_icon_holder {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 5px;
}

.top_layer_container .footer .footer_copyright_container .social_media_icon_holder img {
  height: 30px;
  width: 30px;
}

.spacer {
  width: 100%;
  height: 100%;
}

.bottom_wave {
  fill: url(#gradient);
}

.short_wave_svg {
  position: absolute;
  bottom: 0px;
}

.tall_wave_svg {
  position: absolute;
  bottom: 0px;
  z-index: 50;
}

.mySlides {
  display: none;
}

.active {
  height: 100%;
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@media only screen and (max-width: 768px) {
  .search_container .search_input_container {
    display: none;
  }
  .email_container {
    display: none;
  }
  .hotline_container {
    display: none;
  }
  .social_media_icon_holder img {
    display: none;
  }
  .footer_copyright_container h6 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .search_container .search_input_container {
    display: flex;
  }
  .email_container {
    display: block;
  }
  .hotline_container {
    display: block;
  }
  .social_media_icon_holder img {
    display: block;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */