$subtitle_color: #686B6A;
$card_shadow_color: #686b6a52;
$search_background_color:#F8A725;


$bottom_layer_z_index:50;
$tall_wave_z_index:50;
$bottom_source_layer_z_index:51;
$bottom_masking_layer_z_index:52;
$middle_layer_z_index:53;
$footer_layer_z_index:55;
$top_layer_z_index:60;
$footer_layer_z_index:61;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}


::placeholder {
    color: white;
    opacity: 1;
    font-weight: lighter;
    font-size: 1rem;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-weight: lighter;
    font-size: 1rem;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-weight: lighter;
    font-size: 1rem;
}

@import './responsive';

.page_container{
    overflow: hidden;
    h6{
        font-weight: lighter;
    }
}

.bottom_layer_container{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    background-color: black;

    .image_switcher{
        width: 100%;
    }
    img{
        height: 100%;
        width: 100%;
    }
    z-index: $bottom_layer_z_index;
}

.top_layer_container{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    z-index: $middle_layer_z_index;


    .nav_controller{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;

        z-index: $top_layer_z_index;

        .nav_container {
            padding: 5px;
        
            background-color: white;
        
            border-style: solid;
            border-width: 1px;
            border-radius: 25px;
            border-color: white;
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .logo_container {
                height: 40px;
                width: 40px;
        
                margin-left: 25px;
                margin-right: 5px;
        
                background-color: black;
        
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        
            .navigation_container {
                width: 100%;
        
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                

                .nav_item {
                    display: flex;
                    font-weight: bold;
                    .nav_item_icon{
                        height: 30px;
                        width: 30px;
                    }
                }
        
            }
        
            .search_container {
                height: 30px;
        
                margin: auto 10px;
                
        
                border-radius: 20px;
        
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
        
                background-color: $search_background_color;
                .search_input_container {
                    padding-left: 15px;
                    font-weight: lighter;
                    input:focus {
                        outline: none;
                    }

                    input {
                        border: none;
                        background-color: transparent;
                    }

                    transition: display 2s ease-in-out 0.5s;
                }
    
                .image_button_container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    .image_button {
                        height: 20px;
                        width: 20px;
            
                        padding: 2px;
                    }
                }
        
                
            }
        }
    }
    .card_holder::-webkit-scrollbar{
        display: none;
    }
    .card_holder{
        width: 100%;
        z-index: $footer_layer_z_index;

        padding: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        overflow-y:hidden;
        overflow-x: scroll;
        ::-webkit-scrollbar{
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        .card{
            display: grid;
            grid-template-rows: 40% 20% 10% auto;

            border-radius: 10px;
            box-shadow: 5px 5px $card_shadow_color;

            padding: 10px;
            margin: 0px 10px;

            background-color: white;

            
            flex-shrink: 0;
            flex-grow: 0;

            text-align: center;
            .card_image_holder{
                width: 50%;

                margin: 0px auto;

                overflow:hidden;
                border-radius: 60%;
                
                background-color: black;

                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                img{
                   height: 70%;
                   width: 30%;
                }
            }
            .main_title{
                width: 80%;
                margin: 5px auto;
                font-weight: bolder;
            }
            .sub_title_container{
                opacity: 50%;
            }
        }

    }

    .footer{
        display: grid;
        grid-template-rows: auto auto auto auto;

        

        z-index: $footer_layer_z_index;

        font-weight: lighter;
        color: white;

        margin: 5px 10px;

        h6{
            font-weight: lighter;
        }
        .fotter_main_details_container{
            display: grid;
            grid-template-columns: 60% auto 40%;

            .footer_nibm_info{
                h6{
                    font-weight: bolder;
                }
                font-weight: bolder;
                
                .margin{
                    height: 10px;
                }
            }
            
            .branch_details{
                .margin{
                    height: 10px;
                }
                h6{
                    text-align: end;
                }
            }
        }
        .footer_contact_details_container{
            display: grid;
            grid-template-columns: auto auto auto auto;
            h6{
                font-weight: bolder;
            }  
            font-weight: bolder;
        }
        .footer_copyright_container{
            display: grid;
            grid-template-columns: auto auto auto;
            align-items:center;
            .social_media_icon_holder{
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                column-gap: 2px;
                .icon_container{
                    height: 30px;
                    width: 30px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.spacer {
    width: 100%;
    height: 100%;
}

.bottom_wave{
    fill: url(#gradient);
}

.top_wave{
}

.short_wave_svg{
    position: absolute;
    bottom: 0px;
}

.tall_wave_svg{
    position: absolute;
    bottom: 0px;

    z-index: $tall_wave_z_index;
}


.mySlides {
    display: none;
}

.active {
    height: 100%;
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

// Handling Mobile Screen
@media only screen and (max-width: 768px) {
    .reach_us_text{
        display: none;
    }
    .image_switcher{
        height: 60%;
    }
    .footer_nibm_image{
        width: 100px;
        height: 20px;
    }
    .nav_container {
        margin: 10px 5px;
    }
    .nav_item {
        margin-left: 10px;
    }
    .search_container {
        .search_input_container {
            display: none;
        }
    }
    
    .card_holder{
        margin: 0px auto;
        .card{
            height: 220px;
            width: 220px;
            .main_title{
                font-size: 1rem;
            }
        }
    }
    .footer{
        height: 150px;
        .footer_nibm_info{
            br{
                display: block;
            }
        }
        .email_container{
            display: none;
        }
        .hotline_container{
            display: none;
        }
        .social_media_icon_holder{
            img{
                display: none;
            }
        }
        .footer_copyright_container{
            h6{
                display: none;
            }
        }
    }
    
}

// Handling Tablet Screen
@media screen and (min-width: 768px) {
    .reach_us_text{
        display: block;
    }
    .image_switcher{
        height: 60%;
    }
    .footer_nibm_image{
        width: 100px;
        height: 30px;
    }
    .nav_container {
        width: 75%;
        margin: 10px auto;
    }
    .nav_item {
        margin-left: 30px;
    }
    .search_container {
        .search_input_container {
            display: flex;
        }
    }
    .card_holder{
        margin: auto auto 100px auto;
        justify-content: space-evenly safe;
        .card{
            height: 250px;
            width: 250px;
            
            .main_title{
                font-size: 1.12rem;
            }
        }
    }
    .footer{
        height: 300px;
        .footer_nibm_info{
            br{
                display: block;
            }
        }
        h6{
            font-size: 1rem;
        }
        .email_container{
            display: block;
        }
        .hotline_container{
            display: block;
        }
        .social_media_icon_holder{
            img{
                display: block;
            }
        }
        .footer_copyright_container{
            margin: 10px 0px;
            h6{
                display: block;
            }
        }
    }
    .tall_wave_svg{
        height: 1100px;
        width: 100%;
    }
    .short_wave_svg{
        height: 1000px;
        width: 100%;
    }
}

// Handling PC Screen
@media screen and (min-width: 1024px) {
    .reach_us_text{
        display: block;
    }
    .image_switcher{
        height: 90%;
    }
    .footer_nibm_image{
        width: 100px;
        height: 30px;
    }
    .nav_container {
        width: 75%;
        margin: 10px auto;
    }
    .nav_item {
        margin-left: 30px;
    }
    .search_container {
        .search_input_container {
            display: flex;
        }
    }
    .card_holder{
        margin: auto auto 50px auto;
        justify-content: space-evenly;
        .card{
            height: 300px;
            width: 300px;
            .main_title{
                font-size: 1.3rem;
            }
        }
    }
    .footer{
        height: 300px;
        .footer_nibm_info{
            br{
                display: block;
            }
        }
        h6{
            font-size: 1rem;
        }
        .email_container{
            display: block;
        }
        .hotline_container{
            display: block;
        }
        .social_media_icon_holder{
            img{
                display: block;
            }
        }
        .footer_copyright_container{
            margin: 10px 0px;
            h6{
                display: block;
            }
        }
    }
    .tall_wave_svg{
        height: 1200px;
        width: 100%;
    }
    .short_wave_svg{
        height: 1000px;
        width: 100%;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}
